.bg-background{
    background-image: url("images/background.png");
    background-size: cover;
 }
  .bread-container{
    position: absolute;
    left: 35%;
    top: 40%;
    width: 120px;
    animation: breadAnimation 10s;
  }
  .bread-container img{
    width: 50%;
  }
  
  @keyframes breadAnimation {
    0%{
      top: 25%;
      left: 75%;
      transform: rotate(-30deg)
    }
  
    60%{
      top: 38%;
      left: 40%;
      transform: rotate(30deg);
      /* width: 240px; */
    }
  
    100%{
      left: 35%;
      top: 40%;
  
    }
  }
  
  h2{
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }