.bg-home{
    background-image: url(images/home.png);
    background-size: cover;
}
.pizzaboyglass-container{
position: absolute;
left: 100%;
top: 50%;
width: 700px;
height: 400px;
animation: pizza 4s;

}


@keyframes pizza{
    25%{
        top: 100%;
        left: 800%;
        right: 50%;
    }
    50%{
        top: 20%;
        left: 200%;
    }   
    75%{
        top: 70%;
        left: 30%;
    }
    100%{
        top: 50%;
        left: 30%;
    }
