.bg-home{
    background-image: url(images/home.png);
    background-size: cover;
}
.pizzaboyglass-container{
position: absolute;
left: 0%;
top: 50%;
width: 600px;
height: 300px;
animation: pizza 4s;

}



@keyframes pizza{
    25%{
        top: 80%;
        left: 10%;
    }
    50%{
        top: 60%;
        left: 20%;
    }   
    75%{
        top: 70%;
        left: 30%;
    }
    100{
        top: 50%;
        left: 50%;
    }
}