.bg-home{
    background-image: url(images/home.png);
    background-size: cover;
}
.pizzaboyglass-container{
position: absolute;
left: 0%;
top: 50%;
width: 700px;
height: 400px;
animation: pizza 5s;

}



@keyframes pizza{
    25%{
        top: 500%;
        left: 10%;
        right: 50%;
    }
    50%{
        top: 50%;
        left: 20%;
    }   
    75%{
        top: 70%;
        left: 30%;
    }
    100%{
        top: 50%;
        left: 50%;
    }