.bg-background{
    background-image: url("../Gli-Sweghi-summative-C-S/images/backroundwithrock.png");
    background-size: contain;
    min-height: 100vh;
 }
  .bread-container{
    position: absolute;
    left: 35%;
    top: 50%;
    width: 100px;
    animation: breadAnimation 4s infinite;
  }
  .bread-container img{
    width: 300%;
  }
  
  @keyframes breadAnimation {
    0%{
      top: 50%;
      left: 5%;
      transform: rotate(-30deg)
    }
  
    60%{
      top: 60%;
      left: 40%;
      transform: rotate(30deg);
      /* width: 240px; */
    }

    

    70%{
      left: 75%;
      top: 25%;
  
    }
    
    100%{
      left: 50%;
      top: 5%;
    }
  
  h2{
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }